ApiKey=change-me
LinkServiceDb=Server=host.k3d.internal,1433;Database=LinkServiceDb;User Id=sa;Password=<sa password>;TrustServerCertificate=True
AnalyticsServiceDb=Server=host.k3d.internal,1433;Database=AnalyticsServiceDb;User Id=sa;Password=<sa password>;TrustServerCertificate=True
OperatorPasswordHash=PBKDF2-SHA256$210000$...$...
